main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

::-webkit-scrollbar {
  display: none;
}

main {
  padding-bottom: 2rem;
  margin-bottom: -2rem;
}

